numpy==1.26.4
opencv-contrib-python==4.11.0.86
requests==2.32.4
yt-dlp==2025.8.22
pymongo==4.14.1
python-dotenv==1.1.1
tensorflow==2.15.0
protobuf==4.25.8
absl-py==2.4.0
attrs==25.4.0
flatbuffers==25.12.19
matplotlib==3.10.8
sounddevice==0.5.5
sentencepiece==0.2.1
